

<div class="students-container">
  <h1 class="students-title">Liste des Étudiants</h1>

  <p>Vous avez {{ studentsCount() }} éléments dans la liste</p>
  
  <div class="students-grid">
    @for (student of students(); track student.id) {
      @if (!student.hidden) {
        <app-student-card
          [student]="student"
          (remove)="onDelete(student.id!)"
        />
      }
    }
  </div>
</div>
<input #firstNameInput type="text" placeholder="FirstName">
<input #nameInput type="text" placeholder="Nom">
<input #filiereInput type="text" placeholder="Filière">
<input #promoInput type="number" placeholder="Promo">
<input #prixInput type="number" placeholder="Prix">
<button (click)="addStudent(firstNameInput.value, nameInput.value, filiereInput.value, +promoInput.value, +prixInput.value)">
 Ajouter
</button>

